<launch>

  <arg
    name="serial_port"
    default="/dev/ttyTHS1"
  />

  <arg
    name="baudrate"
    default="115200"
  />

  <arg
    name="imu_topic"
    default="/pixhawk/imu"
  />

  <arg
    name="imu_frame_id"
    default="imu_link"
  />

  <arg
    name="odom_topic"
    default="/vio/odom_frd"
  />

  <arg
    name="odom_rate"
    default="30.0"
  />

  <node
    pkg="vio_homing"
    type="mavlink_imu_bridge.py"
    name="mavlink_imu_bridge"
    output="screen"
    respawn="true"
    respawn_delay="3.0">

    <param
      name="serial_port"
      value="$(arg serial_port)"
    />

    <param
      name="baudrate"
      value="$(arg baudrate)"
    />

    <param
      name="imu_topic"
      value="$(arg imu_topic)"
    />

    <param
      name="imu_frame_id"
      value="$(arg imu_frame_id)"
    />

    <param
      name="odom_topic"
      value="$(arg odom_topic)"
    />

    <param
      name="odom_rate"
      value="$(arg odom_rate)"
    />

    <param
      name="odom_quality"
      value="0"
    />

    <param
      name="timesync_rate"
      value="10.0"
    />

    <param
      name="max_timesync_rtt_ms"
      value="50.0"
    />

  </node>

</launch>

